doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block link
    title EDUCATION
  body
    header.header
      section.flex
        a.logo(href="#home") oneline 
          span(style="color:black;") Edu.
        nav.navbar
          a(href="/") home
          a(href="/about") about
          a(href="/courses") courses
          a(href="/contact") contact
          a(href="/admin/All-reponce") Responce


        div#menu-btn.fas.fa-bars
    br
    br
    br
    br
    
    block content
    footer.footer
        section
            .share
                a(href="", class="fab fa-facebook")
                a(href="#", class="fab fa-instagram")
                a(href="#", class="fab fa-linkedin")
                a(href="#", class="fab fa-youtube")
            .credit
                | &copy; copyright @ 2023 by 
                span mr. web designer
                |  | all rights reserved!
  script(src="/scr/swiper-bundle.min.js")
  script(src="/scr/script.js")
